body {
    background-color:#A580E5;
    
}


.bandeau{
    background-color: #7D33FF;
    width: 1900px;
    height:80px;
    margin-top: -10px;
    margin-left: -6px;
    display: grid;


}

.bde{
    
    width: 1600px;
    height:40px;
    margin-left: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(5px, auto);
}

#logo{

    width: 200px;
    height:80px;
}
.logo{

    width: 200px;
    height:30px;
}

.bouton {
    border: none;
    background-color: #7D33FF;
    width: 150px;
    height:80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    grid-column:  1 / 1;
    grid-row: 1 / 1;
    color: seashell;

}

.boutons{
 margin-top:-30px ;
 margin-left: 200px;
}

.membres {
    border: none;
    width: 100px;
    height:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    grid-column:  1 / 1;
    grid-row: 1 / 2;
    color: seashell;

}

.identitemembre
{
    font-size: 30px;
    color: black;
}


.membres
{    
    width: 1600px;
    height:700px;
    margin-left: 0px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    
    grid-auto-rows: minmax(200px, auto);
}


.membre1
{
    grid-column:  1 / 1;
    grid-row: 1 / 2;
    font-size: 24px;
}